{% extends 'base.html.twig' %}
{% block body %}
<div class="container"> 
    <h1>Donnez votre avis</h1>

    {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.email) }}
        {{ form_row(form.message) }}
    {{ form_end(form) }}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
        <div>
    {% endfor %} 
{% endblock %}
