{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<h1>Register</h1>

	{{ form_errors(registrationForm) }}

	{{ form_start(registrationForm) }}
	{{ form_row(registrationForm.email) }}
	{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

	{% for choice in registrationForm.roles %}
    <div class="form-check me-3">
        {{ form_widget(choice, {'attr': {'class': 'form-check-input'}}) }}
        {{ form_label(choice) }}
    </div>
{% endfor %}

	{{ form_row(registrationForm.agreeTerms) }}

	<button type="submit" class="btn">Register</button>
	{{ form_end(registrationForm) }}
{% endblock %}
